@font-face {
  font-family: "Emblema One";
  src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");

}
body{
  font-size: medium;
}
p {
  font-family: "Indie Flower", sans-serif;
  font-size: 110%;
}
h1 {
  font-family: "Emblema One", sans-serif;
  font-size: 250%
}
h2{
  font-size: 1.5em;
  font-weight: normal;
}
blockquote {font-style: italic;}
