@font-face {
  font-family: "Emblema One";
  src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}
body{
  font-size: medium;
}
p {
  font-family: "Courgette", sans-serif;
  font-size: 110%;
}
h1, h2 {
  color: #cc6600;
  text-decoration: underline;
}
h1 {
  text-shadow: 2px 2px #000000;
  font-family: "Emblema One", sans-serif;
  font-size: 250%
}

h2{
  text-decoration: underline overline;
  font-size: 130%;
  font-weight: bold;
}
blockquote {font-style: italic;}
table {
  margin-left: 20px;
  margin-right: 20px;
  border: thin solid black;
  caption-side: bottom;
  border-spacing: 0px; /*this is moot since border is collapsed*/
  border-collapse: collapse;
}
td, th {
  border: thin dotted gray;
  padding: 5px;
}
caption {
  font-style: italic;
  padding-top: 8px;
}
.cAlign {
  text-align: center;
}
.rAlign {
  text-align: right;
}
th {
  background-color: #cc6600;
}
tr:nth-child(2n+1) {
  background-color:  #fcba7a;
}
/* .cellcolor {
 background-color: #fcba7a;
} */
