h1, h2 {
  font-family: sans-serif;
  color: gray;

}
h1 {
  border-bottom: 1px solid black;
}

p {
  color: maroon;
}
.greenTea {
  color: #228B22;
}
p.raspberry {
  color: #0000CD;
}
p.Blueberry {
  color: #8A2BE2;
}
body {
  font-family: inherit;
}
em {
  font-family: serif;
}
